* {
    font-family: "Helvetica Neue";
}

.overlay1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.5); /*dim the background*/
}


.error_message {
    height: 276px;
    width: 276px;
    /*background-color: #000000;*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 38%;*/
    /*opacity: 1 !important;*/
    position: absolute;
    top: 50%;
    left: 50%;
    line-height: 200px;
    margin-left: -150px;
    margin-top: -100px;
    background-color: #000;
    text-align: center;
    border-radius: 5px;
    /* needed styles for the overlay */
    z-index: 10; /* keep on top of other elements on the page */
    box-shadow: 0 0 0 9999px rgba(216,216,216,0.5);
}
.error_message .message {
    /*height: 116px;*/
    /*width: 215px;*/
    color: #FFFFFF;
    font-family: "Helvetica Neue";
    font-size: 14px;
    font-weight: 500;
    line-height: 200px;
    text-align: center;

    /*margin-left: 26px;*/
}
.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    width:11px !important;
    height:11px !important;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue";
    
}
 /*Register Page*/
/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
/****-----start-body----****/
body{
    font-family: "Helvetica Neue";

}
.main{
    margin:7em auto 0;
    width:44%;
}

.main h2,.main h3{
    font-size: 1em;
    text-align: center;
    color:#fff;
    padding:1em 0;
   font-family: "Helvetica Neue";

}
.main h3{
    font-size: 1em;
    text-align:left;
   font-family: "Helvetica Neue";

}

ul.facebook{
    list-style:none;
    padding:0;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    background: #3B5998;
    padding: 12px;
}
i.fb{
    width:30px;
    height:30px;
    background:url(../images/fb.png);
    float:left;
    margin-right: 2em;
}
ul.facebook li{
    color:#fff;
    font-size:1em;
    float: left;
    margin-top: 5px;
}
ul.facebook:hover{
    background: #5D7BBA;
}

ul.twitter{
    list-style:none;
    padding:0;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    background:#55ACEE;
    padding: 12px;
}
i.tw{
    width:30px;
    height:30px;
    background:url(../images/tw.png);
    float:left;
    margin-right: 2em;
}
ul.twitter li{
    color:#fff;
    font-size:1em;
    float: left;
    margin-top: 5px;
}
ul.twitter:hover{
    background: #71B8ED;
}
span.term a{
    color: #1888A8;
    font-weight: bold;
}
span.term a:hover{
    color:#fff;
}
.lable input[type="text"],
.lable input[type="email"] {
    padding: 15px;
    font-size: 1.1em;
    margin: 18px 0px;
    color: #666666;
    width:87%;
    cursor: pointer;
    font-family: "Helvetica Neue";

    outline: none;
    font-weight: 600;
    margin-left: 3px;
    background: #FFFFFF;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    border-left: 6px solid #fff;
    border-bottom: none;
    border-right: none;
    border-top: none;
}
.lable input[type="text"]:hover,
.lable input[type="email"]:hover,
.lable-2 input[type="text"]:hover,
.lable-2 input[type="email"]:hover,
input[type="Password"]:hover,#active {
    color:#DCDCDC;
    border-left:6px solid#40A46F;
}
.lable-2 input[type="text"],
.lable-2 input[type="email"],
input[type="Password"] {
    padding: 14px;
    width: 94%;
    font-size: 1em;
    margin: 18px 0px;
    border:none;
    color: #666666;
    cursor: pointer;
    background: none;
    float: left;
    outline: none;
    font-weight: 700;
    font-family: "Helvetica Neue";
    background: #40A46F;
    border: 1px solid #40A46F;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    outline:none;
    width: 100%;
    -webkit-appearance: none;
}
.submit input[type=submit]:hover {
    background:#07793D;
    border:1px solid #07793D;
}
/**start-copy-right**/
.copy-right {
    text-align: center;
    margin: 2em 0;
}
.copy-right p {
    color: #FFF;
    font-size:1em;
}
.copy-right p a {
    font-family: "Helvetica Neue";
    font-size:1em;
    font-weight:600;
    color:#55ACEE;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.copy-right a:hover{
    color:#fff;
}
.col_1_of_2:first-child {
    margin-left: 0;
}
.span_1_of_2 {
    width:49.7%;
}
.col_1_of_2 {
    display: block;
    float: left;
    margin:0 0 0 0.6%;
}
.col_1_of_f:first-child {
    margin-left: 0;
}
.span_1_of_f {
    width:49.7%;
}
.col_1_of_f {
    display: block;
    float: left;
    margin:0 0 0 0;
}
/*----start-responsive design-----*/
@media (max-width:1024px){
    .col_1_of_2 {
        margin: 0 0 0 3.6%;
    }
    .span_1_of_2 {
        width: 47.7%;
    }
    .span_1_of_f {
        width: 50%;
    }
    i.fb, i.tw {
        margin-right: 1em;
    }
    .main {
        width: 50%;
    }
}
@media (max-width:800px){
    .span_1_of_f {
        width: 100%;
    }
    .col_1_of_f {
        float:none;
    }
    .span_1_of_2 {
        width: 100%;
    }
    .col_1_of_2 {
        margin:0;
    }
    .lable-2 input[type="text"], input[type="Password"] {
        padding: 14px;
        width: 89%;
    }
}
@media (max-width:480px){
    .main {
        margin: 7em auto 0;
        width:70%;
    }
}
@media (max-width:320px){
    .main {
        width:80%;
    }
    .lable input[type="text"] {
        width: 83%;
    }
    .lable-2 input[type="text"], input[type="Password"] {
        width: 84%;
    }
}






/* End Register Page*/
.nameOfCompany {
    width: 135px;
    padding: 3.8px;
    font-size: 50px;
    color: #fff;
    background-color: #000;
    word-wrap: break-word;
    position: relative;
    display: block;
}
.nameOfCompany1{
    color: #fff;
    position: absolute;
    top: -8px;
    right: 83px;
    font-size: 14px;
    font-family: "Helvetica Neue";
    font-size: 14px;
    font-weight: 500;
}
.header-right {
    color: #fff;
    height: 47px;
    width: 5px;
    position: absolute;
    /* bottom: 0; */
    top: 15px;
    background-color: #fff;
}
.downTheTime .ball{
    position: relative;
    bottom: 24px;
    left: 3px;
    background-color: #000000;
    width: 21px;
    height: 21px;
    display: inline-block;
    border-radius: 100%;
    margin-left: 48px;
    display: none;
}
.downTheTime .bedrijf,
.downTheTime .ontwerp,
.downTheTime .hosting,
.downTheTime .techniek,
.downTheTime .inhoud {
    position: relative;
    bottom: 18px;
    left: 18px;
    background-color: #000000;
    width: 34px !important;
    height: 34px !important;
    display: inline-block;
    border-radius: 100%;
    margin-left: 24px;
    display: none;
}
.theHeaderRight {
    display: none;
    width: 240px;
    height: 81px;
    background: #000;
    position: absolute;
    left: 135px;
    top: 0;
    overflow: hidden;

}
.form-group label {
    color: #9B9B9B;
    margin-bottom: 15px;
    margin-top: 10px;
}
.container textarea {
    margin-top: -11px !important;
    max-width: 667px !important;
    height: 43px ;
    /*resize: none;*/
    border-radius: 0;
    background-color: #f4f4f4;
}
.ontwerp_conteiner {
    /*height: 376.52px;*/
    /*width: 691px;
    	color: #4A4A4A;
    		font-family: "Helvetica Neue";
    			font-size: 14px;
    				line-height: 18px;*/
}
.container .ontwerp-textarea {
    margin-top: -16px !important;
    /* max-width: 800px !important; */
    height: 34px !important;
    resize: none;
    border-radius: 0;
    width: 237px;
    background-color: #f4f4f4;
}
.leftRadio {
    display: inline-block;
    margin-right: 50px;
    margin-bottom: 0;
}

.container .title h1,
.container .title h2 {
    height: 37px;
    width: 419px;
    color: #4A4A4A;
    font-family: "Helvetica Neue";
    font-size: 24px;
    font-weight: bold;
    line-height: 18px;
}
.title {
    margin-top: 24px;
}

.container {
     max-width: 950px;
     overflow-y: hidden
 }
 .head{
     margin-bottom: 6px;
     color: #4A4A4A;
     font-family: "Helvetica Neue";
     font-size: 14px;

 }

 .head2{
     margin-top: 20px
 }
 .head1 .head .pull-left .fa-minus,
 .head2 .head .pull-left .fa-minus,
 .head1 .head .pull-left .fa-plus,
 .head2 .head .pull-left .fa-plus {
     font-size: 10px;
     color: #4a4a4a;
 }
 .container .head1{
     margin-bottom: 10px
 }
.bold {
     font-size: 20px
}
 h1 {
    margin-bottom: 2em;
    margin-top: 3em
}
textarea{
    max-width: 500px;
    margin-bottom: 10px 
}
.inhoud_body textarea {
    margin: 10px 103.011px -26.9886px 0px;
    height: 43px !important;
    max-width: 662px !important;
    background-color: #F4F4F4;
}
.inhoudd .akkord textarea{
    max-width: 800px;
    margin-bottom: -27px !important;
    margin-top: 10px !important;
}
hr {
    margin-top: 10px;
    margin-bottom: 10px
}
.head2 hr,
.head3 hr,
.head4 hr {
    height: 2px;
    border: .5px solid rgba(0,0,0,0.25);
    box-sizing: border-box;
    margin-top: -1px;
    margin-bottom: 25px;
}
.head1 hr {
    height: 2px;
    border: .5px solid rgba(0,0,0,0.25);
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 12px;
}
.con label {
    font-size: 14px;
    margin-left: 10px;
    padding: 5px;
}
.toggle-info {
    margin-right: 5px;
    color: #4a4a4a;
    cursor: pointer;
    font-size:14px;
}
.btn-default {
    background: #000;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 30px
}
.onder {
    text-decoration: underline;
   
}
.head4 {
    margin-top: 30px
}
.head3 label, .head4 label {
    float:left;
    margin-right:10px;
    line-height:15px
}
.head3 textarea, .head4 textarea {
    width: 300px;
     height:40px
}
/* inhoud page */
/*Custom radio button*/
.radio-btn {
    width: 14px;
    height: 14px;
    display: inline-block;
    margin: 3px 7px 0 0;
    cursor: pointer;
    position: relative;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 1px solid #ccc;
    box-shadow: 0 0 1px #ccc;
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(47%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(237, 237, 237, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed', GradientType=0);
}
.leftRadio {
    display: inline-block;
    margin-right: 50px;
}
.rightRadio {
    display: inline-block;
}
.functies label, .elementen label{
    font-size: 14px;
    margin-top: 8px;
    color: #4a4a4a;
    font-family: "Helvetica Neue";
}
.elementen {
    margin-top: 50px;
    margin-bottom: 30px;
}
.elementen h4, .functies h4 {
    margin-bottom: 14px;
    margin-top: 11px;
    color: #4a4a4a;
    font-family: "Helvetica Neue";
}
.techniekk {
    margin-top: 20px;
}
.jump .verzend {
    font-size:33px;
    margin-left: 30px;

}
/*Start he timeline */

/* Color Palette
Right Electric Blue #1092c8
Sea Blue            #086788
Middle Yellow Red   #eaba6b
Desert Sand         #ead2ac
Dark Liver          #50514f
*/

html {
    font-family: "Helvetica Neue";
    color: #50514F;
}


.form-group label {
    color: #4a4a4a;
    margin-bottom: 4px;
    font-size: 14px;
}



.lead {
    color: #4A4A4A;
    font-family: "Helvetica Neue";
    font-size: 14px;
}

b {
    font-weight: 700;
}

i {
    font-style: italic;
}

a {
    color: #1092c8;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #086788;
}




.timeline {
    margin-top: 210px;

    width: 100%;
    background: #ddd;
    background: linear-gradient(to right, rgba(221,221,221,0) 0%,rgba(221,221,221,1) 10%,rgba(221,221,221,1) 90%,rgba(221,221,221,0) 100%);
}

.events {
    margin: 0 auto;
    height: 9px;
    width: 100%;
    background: #000;
}

.events ol {
    position: relative;
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}

.events a {
    position: absolute;
    bottom: -7px;
    padding-bottom: 30px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #50514F;
    text-decoration: none;
    color: #000;
    font-family: "Helvetica Neue";
}
.eventen {
    position: absolute;
    bottom: -7px;
    left: 28%;
    right: auto;
    width: 23px;
    height: 23px;
    background-color: #000;
    border: 4px solid #000;
    border-radius: 50%;
}
.events a::after {
    /*content: '';*/
    /*position: absolute;*/
    /*bottom: -7px;*/
    /*left: 28%;*/
    /*right: auto;*/
    /*width: 25px;*/
    /*height: 25px;*/
    /*background-color: #000;*/
    /*border: 4px solid #000;*/
    /*border-radius: 50%;*/

}
.bedrijf,
.ontwerp,
.inhoud,
.techniek,
.hosting{

    position: absolute;
    bottom: -14px;
    left: 28%;
    right: auto;
    width: 34px;
    height: 34px;
    background-color: #000;
    border: 4px solid #000;
    border-radius: 50%;
}





.content ol {
    list-style: none;
    padding: 0;
}

.content li {
    display: none;
}

.content li.selected {
    display: list-item;
}

.content p:first-child {
    margin-top: 0;
}

.content p:last-child {
    margin-top: 0;
}
.theHeader {
    display: inline-block;
    position: relative;
}

/* End the timeline */


@media screen and (max-width:410px) {
    .error_message {
        margin-left: -139px;
    }
    .bedrijf_container {
        margin-top: 0 !important;
    }
    .techniek_container {
        margin-top: 140px;
    }
    .wide_content {
        display: none;
    }
    .title .title_header, h2.title_header {
        height: 114px !important;
        width: 283px !important;
        color: #4A4A4A !important;
        font-family: "Helvetica Neue" !important;
        font-size: 32px !important;
        font-weight: bold !important;
        line-height: 39px !important;
    }
    .upper {
        margin-top: -150px;
    }
    .theHeaderRight {

        display: block;

    }
    .downTheTime .ball {
        display: inline-block;
    }
    .times {
        display: none;
    }
    .jump {
        text-align: center
    }
    .head3 label, .head4 label {
        float: none
    }
    .kunHead {
        margin-top: 50px;
        /*margin-bottom: 33px;*/
        /*color: #867d7d;*/
        /*font-size: 14px;*/
        /*letter-spacing: .8px*/
    }
    .form-group label {
        color: #4a4a4a;
        font-size: 14px;
        margin-bottom: 19px;
    }
}
@media screen and (min-width: 410px) {
    .small_content {
        display: none;
    }
}
@media screen and (min-width: 410px) and (max-width: 1091px) {

    .events {
        margin: 23px auto;
    }
    .events a {
        position: absolute;
        bottom: -7px;
        padding-bottom: 30px;
        font-size: 0.9em;
        font-weight: 600;
        letter-spacing: 1px;
        color: #50514F;
        text-decoration: none;
        margin-left: -29px;
    }

}